<section class="section header">
    <div class="header__content container-md">
        <header class="header__logo">
            <a href="/" class="site-logo__link">
                <img class="site-logo site-logo__header" src="assets/svg/alurageek-logo.svg" alt="Logo: AluraGeek" />
            </a>
        </header>
        <div class="header__search">
            <nav class="navbar-menu">
                <ul class="main-menu">
                    <li><a routerLink="dashboard/products">Products</a></li>
                    <li><a routerLink="login">Login</a></li>
                    <li><a routerLink="register">Register</a></li>
                    <li><a routerLink="dashboard/products">Product list</a></li>
                    <li><a routerLink="dashboard/products/new">New Product</a></li>
                </ul>
            </nav>
            <form class="search">
                <input class="search__input" name="search" id="search" placeholder="¿Qué deseas buscar?" />
                <button type="button" class="btn btn-search">
                    <span class="search-icon__background search-icon__color" type="button"></span>
                </button>
            </form>
        </div>
        <nav class="header__menu nav__menu nav">
            <ul class="menu menu__nav menu-principal">
                <li class="menu-item"><a class="btn btn-outline-primary btn-login" href="./login.html">Login</a></li>
            </ul>
        </nav>
        <div class="header__search-icon">
            <a href="#" class="search-icon__link">
                <img class="search-icon" src="assets/svg/search-icon.svg" alt="Search icon SVG" />
            </a>
        </div>
    </div>
</section>